.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.InputEl {
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputEl:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border-color: darkred;
  background-color: lightpink;
}

.ValidationError {
  color: red;
  margin: 5px 0;
}
